<div data-ng-if="isDataPrepared">
  <div class="head inline">Рынок труда <img class="head__moscow-star" src="../img/accessories/moscow-star.png">Москвы</div>
  <div class="checkboxes-container inline">
    <checkboxes
      data-model="model">
    </checkboxes>
  </div>
  <br class="clear-both" />
  <div class="date-slider-container inline">
    <date-slider
      data-dates="dates"
      data-current-date="model.currentDate"
      data-month-names="monthNames">
    <date-slider>
  </div>
  <div class="player-container inline">
    <player
      data-dates="dates"
      data-current-date="model.currentDate">
    <player>
  </div>
  <br class="clear-both" />
  <div class="content">
    <div class="content__chart inline">
      <chart
        data-data="data"
        data-dates="dates"
        data-model="model"
        data-color-scale="colorScale"
        data-zoom-ratio="1"
        data-clone-zoom-ratio="0.25"
        data-month-names="monthNames"></chart>
    </div>
    <div class="content__chart inline">
      <chart
        data-data="data"
        data-dates="dates"
        data-model="model"
        data-color-scale="colorScale"
        data-zoom-ratio="0.25"
        data-clone-zoom-ratio="0"
        data-month-names="monthNames"></chart>
    </div>
    <br class="clear-both" />
  </div>
  <div class="legend-container">
    <legend
      data-data="data"
      data-last-date="dates[dates.length - 1]"
      data-model="model"
      data-color-scale="colorScale">
    </legend>
  </div>
</div>
