<div class="checkboxes">
  <div class="checkbox inline">
    <label>
      <input
        type="checkbox"
        ng-model="model.showIndustryPaths">Хвосты
    </label>
  </div>
  <div class="checkbox inline">
    <label>
      <input
        type="checkbox"
        ng-model="model.showRatios">Лучи
    </label>
  </div>
  <div class="checkbox inline">
    <label>
      <input
        type="checkbox"
        ng-model="model.showSalaryHistory">Зарплатная история
    </label>
  </div>
  <br class="clear-both" />
</div>
