<div class="checkboxes">
  <div class="checkbox inline">
    <label>
      <input
        type="checkbox"
        ng-model="model.showIndustryPaths">Траектории профсфер
    </label>
  </div>
  <div class="checkbox inline">
    <label>
      <input
        type="checkbox"
        ng-model="model.showRatios">Индексы конкуренции
    </label>
  </div>
  <div class="checkbox inline">
    <label>
      <input
        type="checkbox"
        ng-model="model.showSalaryHistory">История зарплат
    </label>
  </div>
  <br class="clear-both" />
</div>
