@import '../variables';

.head {
  margin: 20px 0 0 $common-margin;
  font-family: $helvetica-neue-regular;
  font-size: $header-font-size;
}

.head__moscow-star {
  width: 22px;
  height: 21px;
  margin-right: 2px;
}

.checkboxes-container {
  margin: 29px 0 0 60px;
}

.date-slider-container {
  margin: 20px 0 0 $common-margin;
  width: 936px;
}

.player-container {
  margin: 20px 0 0 0;
  width: 14px;
  height: 14px;
}

.content {
  margin-top: 10px;
}

.content__chart {
  width: 540px;
  height: 440px;
}

.legend-container {
  position: absolute;
  top: 73px;
  left: 1025px;
}
