@import '../variables';

.chart {
  font-family: $helvetica-neue-regular;
  font-size: $small-font-size;
  fill: #333;
}

.chart__svg {
  display: block;
}

.chart__svg .axis line, .chart__svg .axis path {
  fill: none;
  stroke: #333;
  stroke-width: .1;
}
