@import '../variables';

.date-slider {
	position: relative;
	display: block;
	width: 100%;
	height: 36px;
}

.date-slider__year-captions {
	position: relative;
}

.date-slider__year-captions .caption {
	position: absolute;
	top: -14px;
	font-family: $helvetica-neue-regular;
	font-size: $small-font-size;
}

.date-slider__month-captions {
	position: relative;
}

.date-slider__month-captions .caption {
	position: absolute;
	font-family: $helvetica-neue-regular;
	font-size: $small-font-size;
}

.date-slider__handle {
	position: absolute;
	top: 14px;
	width: 17px;
	height: 22px;
	background-image: url(../img/accessories/slider-handle.png);
	background-size: 17px 22px;
	cursor: pointer;
}
